
body{ background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}

.titulo{ display:flex;justify-content: center;}

.contenedor-tabla-padre{display: flex; justify-content: center;}

.contenedor-tabla-hijo{}

.tabla-listado{ display: flex; justify-content: center;  max-width: 435px; border:solid 2px black ;border-collapse: collapse; text-align: center; }

.tabla-listado td{border:solid 2px black;padding: 10px;}
.tabla-listado tr{border:solid 2px black }

/** Detalles.php**/
.contenedor-hijo{display:flex ; justify-content:center;}
.contenedor-detalles{ text-align: center; border-radius: 8px ; border:2px solid black; width:500px}
.sub-contenedor-detalles{ background-color: rgb(172, 241, 241); width: 450px; padding: 5px;}